/*
    Attributions:

    “Your Career in Web Development Starts Here.” Your Career in Web Development Starts Here | The Odin Project, The Odin Project, www.theodinproject.com/. Accessed 24 Jan. 2024.

    https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-advanced-grid-properties

    https://stackoverflow.com/questions/43747185/force-css-grid-container-to-fill-full-screen-of-device

    https://www.sitepoint.com/community/t/grid-style-2-rows-2-column-content-full-screen-height/337987

*/

* {

    background-color: rgb(27, 25, 25);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button {

    color: #2272ff;
}

.appCanvas {

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    height: 100vh;
    width: 100%;
}

.greetingSection {

    display: flex;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    justify-content: space-evenly;
}

.userInputSection {

    display: flex;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
    align-items: center;
    justify-content: space-evenly;
}

#removeButton {

    width: 50px;
    height: auto;
}

#zipCode,
#city,
#state {

    color: black;
    background-color: azure;
    border-radius: 6px;
}

.favoriteCityContainer,
.favoriteStateContainer,
.favoriteCity,
.favoriteState {

    background-color: aliceblue;
}

.favoriteLocationHeader {

    display: grid;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 9;
    align-items: center;
    justify-content: space-evenly;
}

.favoriteSection {

    display: flex;
    grid-row-start: 8;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: 9;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.historyElement {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.trash-icon-object {

    background-color: aliceblue;

}

.favoriteContainer {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 10px;
    background-color: aliceblue;
}

.inputLabel {

    color: #2272ff;
}

.mostRecentSearches {

    display: flex;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: -2;
    grid-column-end: -1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gainsboro;

}

#favoritedLocations,
#welcomeHeader,
#userInputInstructionHeader,
#mostRecentSearches {

    color: azure;
}