/*
    Attributions:

    “Your Career in Web Development Starts Here.” Your Career in Web Development Starts Here | The Odin Project, The Odin Project, www.theodinproject.com/. Accessed 24 Jan. 2024.

    https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-advanced-grid-properties

    https://stackoverflow.com/questions/43747185/force-css-grid-container-to-fill-full-screen-of-device

    https://www.sitepoint.com/community/t/grid-style-2-rows-2-column-content-full-screen-height/337987

*/

* {

    background-color: rgb(27, 25, 25);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button {

    color: #2272ff;
}

* {

    background-color: rgb(27, 25, 25);
}

.appCanvas {

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    height: 100vh;
    width: 100%;
}

.weatherData {

    display: flex;
    flex-direction: column;
    border: 8px solid grey;
    align-items: center;
    justify-content: space-evenly;
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.weatherResult {

    color: aliceblue;
    font-size: medium;
}

.userInputSection {

    display: flex;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
    border: 1px solid grey;
    align-items: center;
    justify-content: space-evenly;
}

#zipCode,
#city,
#state {

    color: beige;
}

.userInputFormSection {

    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 8;
    align-items: center;
    justify-content: space-evenly;
}

#retrieveAnotherLocation {

    color: aliceblue;
}

.userInputMessageSection {

    border: 1px solid grey;
}


.favoriteLocationHeader {

    display: flex;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 9;
    border: 12px solid grey;
    align-items: center;
    justify-content: center;
}


#zipCode,
#city,
#state {

    color: black;
    background-color: azure;
    border-radius: 6px;
}

.inputLabel {

    color: #2272ff;
}

#backButtonContainer {

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#addToFavoritesButtonContainer {

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

}